html, body, form {
    margin: 0px;
    font-family: Consolas, monospace, MS Gothic;
}

div.content-main-padding {
    padding-top: 60px;
    padding-left: 140px;
    padding-right: 140px;
}

@media (max-width: 767px) {
    div.content-main-padding {
        padding: 18px;
    }	
}
